<a class="nav-link" href="home">回到主頁</a><br>
網站:<br>
https://www.youtube.com/watch?v=9X1graZtuPs<br>
https://www.learncodewithmike.com/2020/10/django-web-scraping.html<br>
https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/454833/<br>
https://segmentfault.com/q/1010000009970908<br>
https://tw.alphacamp.co/blog/css-guide-box-model<br>
https://lotus99.pixnet.net/blog/post/30096009<br>
https://www.maxlist.xyz/2019/03/17/flask-get-post/<br>
https://medium.com/seaniap/python-web-flask-get-post%E5%82%B3%E9%80%81%E8%B3%87%E6%96%99-2826aeeb0e28<br>
https://www.itread01.com/content/1541434996.html<br>
https://www.itread01.com/content/1497676809.html<br>
https://ithelp.ithome.com.tw/articles/10223951<br>
https://ithelp.ithome.com.tw/articles/10213503<br>
https://selenium-python-zh.readthedocs.io/en/latest/locating-elements.html<br>
https://medium.com/@bindaguo/%E7%B6%B2%E8%B7%AF%E7%88%AC%E8%9F%B2%E6%B7%BA%E8%AB%87-afcae0694f13<br>
https://ithelp.ithome.com.tw/articles/10222132<br>
https://www.ucamc.com/articles/317-vscode-windows-%E7%89%88%E6%9C%AC%E5%9F%BA%E6%9C%AC%E5%B8%B8%E7%94%A8%E5%BF%AB%E6%8D%B7%E9%8D%B5<br>
https://blog.csdn.net/qq_42991834/article/details/89480614<br>
<br>
書籍:<br>
Python從網路爬蟲到生活應用超實務: 人工智慧世代必備的資料擷取術,  作者:陳會安, 出版社:博碩文化 ,ISBN:9789864345397<br>
<br>
影音:<br>
https://www.youtube.com/watch?v=9X1graZtuPs<br>
https://www.youtube.com/watch?v=RWviEK1Si68&list=PLDFBYdF-BxV1G4FBpG1EMyFtbsbZuJOvD<br>
<a class="nav-link" href="home">回到主頁</a><br>